.back-button:hover {
  background-color: #3b6ba5;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .notice-detail {
    background-color: #1f3b5d;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 100%;
    color: white;
  }

  .notice-header {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .notice-header td {
    background-color: #5d92cc;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 0.6em;
  }

  .notice-header td:nth-child(1) {
    width: 20%;
  }

  .notice-header td:nth-child(2) {
    text-align: center;
    width: 40px;
    width: 60%;
  }

  .notice-header td:nth-child(3) {
    width: 20%;
  }

  .notice-content {
    background-color: #5d92cc;
    padding: 20px;
    border-radius: 8px;
    min-height: 100px;
    color: white;
    font-size: 0.9em;
  }

  .notice-footer {
    text-align: right;
    margin-top: 20px;
  }

  .back-button {
    background-color: #5d92cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .notice-detail {
    background-color: #1f3b5d;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 100%;
    color: white;
  }

  .notice-header {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .notice-header td {
    background-color: #5d92cc;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 0.8em;
  }

  .notice-header td:nth-child(1) {
    width: 20%;
  }

  .notice-header td:nth-child(2) {
    text-align: center;
    width: 40px;
    width: 60%;
  }

  .notice-header td:nth-child(3) {
    width: 20%;
  }

  .notice-content {
    background-color: #5d92cc;
    padding: 20px;
    border-radius: 8px;
    min-height: 100px;
    color: white;
    font-size: 1em;
  }

  .notice-footer {
    text-align: right;
    margin-top: 20px;
  }

  .back-button {
    background-color: #5d92cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .notice-detail {
    background-color: #1f3b5d;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 100%;
    color: white;
  }

  .notice-header {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .notice-header td {
    background-color: #5d92cc;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 0.8em;
  }

  .notice-header td:nth-child(1) {
    width: 20%;
  }

  .notice-header td:nth-child(2) {
    text-align: center;
    width: 40px;
    width: 60%;
  }

  .notice-header td:nth-child(3) {
    width: 20%;
  }

  .notice-content {
    background-color: #5d92cc;
    padding: 20px;
    border-radius: 8px;
    min-height: 100px;
    color: white;
    font-size: 1em;
  }

  .notice-footer {
    text-align: right;
    margin-top: 20px;
  }

  .back-button {
    background-color: #5d92cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .notice-detail {
    background-color: #1f3b5d;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 100%;
    height: 50vh;
    margin: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .notice-header {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .notice-header td {
    background-color: #5d92cc;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 0.8em;
  }

  .notice-header td:nth-child(1) {
    width: 20%;
  }

  .notice-header td:nth-child(2) {
    text-align: center;
    width: 40px;
    width: 60%;
  }

  .notice-header td:nth-child(3) {
    width: 20%;
  }

  .notice-content {
    background-color: #5d92cc;
    padding: 20px;
    border-radius: 8px;
    min-height: 100px;
    color: white;
    font-size: 1em;
  }

  .notice-footer {
    text-align: right;
    margin-top: 20px;
  }

  .back-button {
    background-color: #5d92cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .notice-detail {
    background-color: #1f3b5d;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 100%;
    height: 50vh;
    margin: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .notice-header {
    width: 100%;
    height: 10%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .notice-header td {
    background-color: #5d92cc;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: 1em;
  }

  .notice-header td:nth-child(1) {
    width: 20%;
  }

  .notice-header td:nth-child(2) {
    text-align: center;
    width: 40px;
    width: 60%;
  }

  .notice-header td:nth-child(3) {
    width: 20%;
  }

  .notice-content {
    background-color: #5d92cc;
    padding: 20px;
    border-radius: 8px;
    min-height: 100px;
    color: white;
    font-size: 1em;
    height: 60%;
    text-align: center;
  }

  .notice-footer {
    text-align: right;
    margin-top: 20px;
  }

  .back-button {
    background-color: #5d92cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .notice-detail {
    background-color: #1f3b5d;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 100%;
    height: 50vh;
    margin: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .notice-header {
    width: 100%;
    height: 20%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .notice-header td {
    background-color: #5d92cc;
    padding: 10px;
    color: white;
    font-size: 1.3em;
    border-radius: 8px;
  }

  .notice-header td:nth-child(1) {
    width: 20%;
  }

  .notice-header td:nth-child(2) {
    text-align: center;
    width: 40px;
    width: 60%;
  }

  .notice-header td:nth-child(3) {
    width: 20%;
  }

  .notice-content {
    background-color: #5d92cc;
    padding: 20px;
    border-radius: 8px;
    min-height: 100px;
    color: white;
    font-size: 1.5em;
    height: 60%;
    text-align: center;
  }

  .notice-footer {
    text-align: right;
    margin-top: 20px;
  }

  .back-button {
    background-color: #5d92cc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
  }
}
