@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .profile {
    background-color: #1e3a5b;
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .profile h2 {
    font-size: 0.9em;
    color: white;
  }

  .user-photo {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    background: url("../../imgs/user_profile.png") no-repeat center center;
    background-size: cover;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .profile {
    background-color: #1e3a5b;
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .profile h2 {
    font-size: 0.9em;
    color: white;
  }

  .user-photo {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    background: url("../../imgs/user_profile.png") no-repeat center center;
    background-size: cover;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

  .profile {
    background-color: #1e3a5b;
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .profile h2 {
    font-size: 0.9em;
    color: white;
  }

  .user-photo {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    background: url("../../imgs/user_profile.png") no-repeat center center;
    background-size: cover;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .profile {
    background-color: #1e3a5b;
    padding: 20px;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px;
  }
  .profile h2 {
    font-size: 0.9em;
    color: white;
  }

  .user-photo {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    background: url("../../imgs/user_profile.png") no-repeat center center;
    background-size: cover;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .profile {
    background-color: #1e3a5b;
    padding: 20px;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px;
  }
  .profile h2 {
    font-size: 0.9em;
    color: white;
  }

  .user-photo {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    background: url("../../imgs/user_profile.png") no-repeat center center;
    background-size: cover;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .profile {
    background-color: #1e3a5b;
    padding: 20px;
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px;
  }
  .profile h2 {
    font-size: 0.9em;
    color: white;
  }

  .user-photo {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    background: url("../../imgs/user_profile.png") no-repeat center center;
    background-size: cover;
  }
}
